s{% extends 'base.html' %}

{% block content %}

<div class='body'>
	<h1>Analysis</h1>
    <h2>All Answer for test : {{test_list.title}} </h2>
    {% for test in test_list %}
        <p> 
			<br></br>
			<h3>Test {{ test.id_pass_test }} : {{ test.title }}</h3>
			<p>Question 1 : {{test.q1}}</p>
			<p>Question 2 : {{test.q2}}</p>	
			<p>Question 3 : {{test.q3}}</p>		
			<p>Question 4 : {{test.q4}}</p>		
			<p>Question 5 : {{test.q5}}</p>			
			<p>Question 6 : {{test.q6}}</p>		
        	<p>Question 7 : {{test.q7}}</p>			
			<p>Question 8 : {{test.q8}}</p>			
			<p>Question 9 : {{test.q9}}</p>		
			<p>Question 10 : {{test.q10}}</p>	
			
        </p>
    {% endfor %}
</div>

{% endblock content %}
