s{% extends 'base.html' %}

{% block content %}

<div class='body'>
	<h1>Test Id : {{ form.id_test }}</h1>

	<h2>Questions : </h2>

	<p>Question 1 : {{ form.q1 }}</p> 
	<p>Question 2 : {{ form.q2 }}</p>
	<p>Question 3 : {{ form.q3 }}</p>
	<p>Question 4 : {{ form.q4 }}</p>
	<p>Question 5 : {{ form.q5 }}</p>
	<p>Question 6 : {{ form.q6 }}</p>
	<p>Question 7 : {{ form.q7 }}</p>
	<p>Question 8 : {{ form.q8 }}</p>
	<p>Question 9 : {{ form.q9 }}</p>
	<p>Question 10 : {{ form.q10 }}</p>
</div>

{% endblock content %}
